{% form_theme form 'FOSUserBundle::form.html.twig' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register {{ formclass }}">
    
    {{ form_widget(form) }}


    <div class="control-group">
    	<label class="control-label" for="">&nbsp;</label>
    	<div class="controls">
    	   <input type="submit" class="btn" value="{{ 'registration.submit'|trans({}, 'AppUserBundle') }}" />
    	</div>
    </div>


</form>
