{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<script>
  function onFbInit() {
      if (typeof(FB) != 'undefined' && FB != null ) {
          FB.Event.subscribe('auth.statusChange', function(response) {
              if (response.session || response.authResponse) {
                  setTimeout(goLogIn, 500);
              } else {
                  window.location.href = "{{ path('_security_logout') }}";
              }
          });
      }
  }
  function goLogIn(){
      window.location.href = "{{ path('_security_check') }}";
  }
</script>


<div class="row">

<div class="span2">&nbsp;</div>
<div class="span7">

{% if error %}
<div class="row">
    <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
</div>
{% endif %}


<form action="{{ path("fos_user_security_check") }}" method="post" class="{{ formclass }}">
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div class="control-group">
        <label class="control-label">
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        </label>
        <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        </label>
        <div class="controls">
            <input type="password" id="password" name="_password" />
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">&nbsp;</label>
        <div class="controls inline">
            {#
            {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
            {{ facebook_login_button({'autologoutlink': false}) }}
            #}
            <a href="{{loginUrl}}" class="btn btn-primary">{{ 'app_user.facebook.button.login'|trans({}, 'AppUserBundle') }}</a>
        </div>
    </div>

    
    <div class="control-group">
        <label class="control-label">&nbsp;</label>
        <div class="controls inline">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>
    </div>
        
    <div class="control-group">        
        <label class="control-label">
            &nbsp;
        </label>
        <div class="controls inline">
            <input type="submit" class="btn" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </div>
    
    
</form>
</div>

</div>
{% endblock fos_user_content %}
