<div class="fos_user_user_show">
    
    <p>{{ 'profile.show.username'|trans({}, 'AppUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'AppUserBundle') }}: {{ user.email }}</p>
    
    <p>{{ 'profile.show.firstname'|trans({}, 'AppUserBundle') }}: {{ user.firstname }}</p>
    <p>{{ 'profile.show.lastname'|trans({}, 'AppUserBundle') }}: {{ user.lastname }}</p>
    
    <p>{{ 'profile.show.bio'|trans({}, 'AppUserBundle') }}: {{ user.bio }}</p>
    
</div>
