{% form_theme form 'FOSUserBundle::form.html.twig' %}
<form action="{{ path('app_user_set_password_update') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit {{ formclass }}">

    {{ form_widget(form) }}

    <div class="control-group">
        <label class="control-label">&nbsp;</label>
        <div class="controls">
            <input type="submit" class="btn" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </div>

</form>
